<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta property="og:title" content="Links">
    <meta property="og:description" content="Links - бесплатная платформа для создания лендинг страниц для продвижения релизов">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Links</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    @include('assets/header')
    @!section('body')
    <div class="container">
      <footer class="py-3 my-4">
        <p class="text-center text-muted">Source by <a href="https://t.me/kirillsaint">@kirillsaint</a></p>
      </footer>
    </div>
  </body>
</html>
